    <h1>Jeni's of <%= @location[:store_name] %></h1>
    <div class="container md">
    <div class=row id="listcenter">
      <div class="col-md-12 col-xs-12">
      <iframe
        width="400"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @location[:latitude] %>,<%= @location[:longitude] %>"&zoom=10" allowfullscreen>
      </iframe>
      </div>
    </div>
    <div class=row id="listcenter">
    <div class="col-md-12 col-xs-12">
    <h2>Flavors</h2>
    </div>
    </div>
    <div class=row>
    <div class="col-md-3 col-xs-1">
    </div>
    <div class="col-md-6 col-xs-10" id=listcenter> 
            <% for flavor in @uniqueflavorids %>
                <p id="flavorlist"><%= @flavornames.where(id: flavor[:flavor_id]).to_a[0][:flavor] %></p>
                 <p id="ratingtext"><%= @ratingsbystore.where(location_id: @location[:id]).where(flavor_id: flavor[:flavor_id]).avg(:rating).ceil(2) %> out of 10 </p>
            <% end %>            
    </div>
    <div class="col-md-3 col-xs-1">
    </div>
 </div>        
</div>
    
        
